@charset "utf-8";

/* Custom page CSS
-------------------------------------------------- */
/* login */
.login-body {
  display: table;
  width: 100%;
  height: 100%;
}

.wrapper.login-wrapper {
  display: table-cell;
  height: 100%;
  padding-bottom: 0;
  vertical-align: middle;
}

.login-contents {
  display: inline-block;
}

.login-panel {
  margin-bottom: 0;
}

.login-panel > .panel-heading {
  color: #777;
  font-size: 18px;
}

/* common */
.main-contents {
  padding-top: 70px;
  padding-bottom: 20px;
}

.margin-navbar-right {
  padding-right: 15px;
}

.choose-group {
  margin-bottom: 10px;
}

.choose-group button {
  padding-right: 6px;
  padding-left: 6px;
}

.textarea-width {
  resize: vertical;
}
.header-fixed{
  position: absolute;
  top: 0;
}